<h1>Login Page</h1>

<form action="" (ngSubmit)="login()">

    <div class="form-group">
        <label for="">UserName:</label>
        <input type="text" name="email" [(ngModel)]="email" class="form-control">
    </div>
    <br>

    
    <div class="form-group">
        <label for="">Password:</label>
        <input type="password" name="password" [(ngModel)]="password" class="form-control">
    </div>
    <br>

    <button type="reset" class="btn btn-warning">Reset</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary">Login</button>
</form>