<p>exams works!</p>

<button (click)="sem1()" class="btn btn-primary">First Sem</button>&nbsp;&nbsp;&nbsp;
<button (click)="sem2()" class="btn btn-primary">Second Sem</button>&nbsp;&nbsp;&nbsp;
<button (click)="sem3()" class="btn btn-primary">Third Sem</button>&nbsp;&nbsp;&nbsp;
<button (click)="sem4()" class="btn btn-primary">Fourth Sem</button>&nbsp;&nbsp;&nbsp;
<button (click)="sem5()" class="btn btn-primary">Fifth Sem</button>&nbsp;&nbsp;&nbsp;
<button (click)="sem6()" class="btn btn-primary">Sixth Sem</button>&nbsp;&nbsp;&nbsp;